{% extends 'base.html' %}
{% block content %}
								<table id="datatables-dashboard-projects" class="table table-striped my-0">
									<thead>
										<tr>
											<th>Id</th>
											<th>Username</th>
											<th>Email</th>
											<th>Date Joined</th>
											<th>Link</th>

										</tr>
									</thead>
									<tbody>
										{% for i in user %}
										<tr>
											<td class="d-none d-xl-table-cell">{{i.id}}</td>
											<td class="d-none d-xl-table-cell">{{i.username}}</td>
											<td class="d-none d-md-table-cell">{{i.email}}</td>
											<td class="d-none d-md-table-cell">{{i.date_joined}}</td>
											<td class="d-none d-md-table-cell"><a href="{%url 'users' i.id %}"><i class="feather-lg text-primary" data-feather="link"></i></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
{% endblock content %}

{% block script %}
{% endblock script %}